/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





/* custom css  */

/* ----- Home page ----- */
body{
    padding-bottom: 100px;
    line-height: 1;
}

header {
  background-color: #07154c;
  padding: 15px;
  text-align: center;
}

.navbar > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}

a.active {
  color: #12963e;
}

.heading{
    font-size: 30px;
    margin: 45px 0 25px 0;
    text-align: center;
}

.sub-heading{
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #99D8CA;
    border: 10px solid #5873E2;
    outline: 5px solid #0D1430;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #90FFA9;
    margin: 20px auto;
}


.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.content{
    background-color: #99D8CA;
}

.outline{
    background-color: #0D1430;
}

.box-shadow{
    background-color: #90ff90;
}

.border{
    background-color: #5873E2;
}

.container{
    margin: 40px auto;
    text-align: center;
}

hr{
    width: 500px;
    border-top: 3px dotted black;
    margin: 40px auto;
}

.boxes{
    width: 660px;
    border: 2px solid black;
    margin: 0 auto;
    font-size: 0;
}

.box-ex2{
    width: 200px;
    height: 180px;
    background-color: #dae0fa;
    margin: 10px;
    display: inline-block;
}

.border{
    /* border: 2px solid black; */
    box-sizing: border-box;
}








